.subheading {
  font-weight: 600;
}

.date {
  min-width: 18rem;
}

.obrazok {
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-left: 25%;
}

body {
  background-image: linear-gradient(0deg, rgba(100,181,243,0.9876283276982668) 0%, rgba(193,166,250,0.8615779075301996) 100%);
}